keras == 2.4.3
pillow == 7.0.0
cvlib == 0.2.6
keras_visualizer == 2.4
matplotlib == 3.3.2
numpy == 1.19.3
opencv_python == 4.5.1.48
scikit_learn == 0.24.1
seaborn == 0.11.1
tensorflow == 2.4.1
visualkeras == 0.0.1
